@import url("style/header.css");
body {
    background-color: #ebc6f5;
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:40%;
    height:40%;
}

.h1 {
    color:rgb(229, 120, 236);
}

.h2 {

    color:rgb(241, 148, 9);

    footer{
    background-color:#191717;
    color:antiquewhite;
}